<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
		crossorigin="anonymous">
	<title>Items Data</title>
</head>
<body>
<<<<<<< HEAD
	<%- include header.ejs %>
=======
	<a href='/transactions'>Transactions Page >></a>
>>>>>>> 827c2aea07688ca9eea6706ac08f0f0b5045efe5
	<h1> Items Data </h1>

	<h3><a href = "/items/add"> Add Item</a></h3>
<<<<<<< HEAD
	<table border="1">	
=======

	<p><a href='/items/showAllBrand'> Show All Brand </a></p>
	<table>	
>>>>>>> 827c2aea07688ca9eea6706ac08f0f0b5045efe5
	  <tr>
	  	<th>Id</th>
	    <th>Name</th>
	    <th>Brand</th>
	    <th>Price</th>
	    <th>Stock</th>
	    <th>Actions</th>
	  </tr>
	  <% for (var i=0;i<dataItems.length;i++) {%>
	  <tr>
	  	<td><%= dataItems[i].id %></td>
	    <td><%= dataItems[i].name%></td>
	    <td><%= dataItems[i].brand%></td>
	    <td><%= dataItems[i].price%></td>
	    <td><%= dataItems[i].stock%></td>
	    <td><a href='/items/<%= dataItems[i].id %>/edit'> edit </a>|| <a href='/items/<%= dataItems[i].id %>/delete' onclick="return confirm('are you sure want to delete?')"> delete </a>
	  </tr>
	  <% } %>
	</table>  

</body>
</html>