<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <title>User List</title>
</head>
<body>
        <%- include header.ejs %>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Address</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=>{ %>
                    <% let fullName = user.getFullName() %>
                <tr>
                    <td><%= fullName %></td>
                    <td><%= user.username %></td>
                    <td><%= user.address %></td>
                    <td><%= user.role %></td>
                    <td><a href= '/users/<%= user.id %>/edit'>Edit </a> | <a href = '/users/<%= user.id %>/delete'>Delete</a></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    
</body>
</html>